{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["./dist/**", "./node_modules/**"],
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-list-comma-newline-after": "always-multi-line",
    "order/order": ["dollar-variables", "at-variables", "less-mixins", "custom-properties", "declarations", "at-rules", "rules"],
    "order/properties-alphabetical-order": true
  }
}
