@import './_fonts.scss';

body {
  font-family: 'Metropolis', sans-serif;
}

// General header area
#header {
  background-color: #202129;
  background-image: url('https://cdn.rawgit.com/kleros/kleros-reddit-css/9a643043/assets/images/banner.png');
  background-repeat: no-repeat;
  background-size: 1100px 216px;
  border: none;
  height: 216px;
}

// Top part of header
#sr-header-area {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  height: 26px;
  line-height: 26px;

  // "My Subreddits"
  .dropdown.srdrop {
    padding-left: 12px;
  }

  // Subreddit list
  .sr-list {
    margin-right: 56px;
  }

  // Text
  span,
  a {
    color: #fff;
    font-size: 9px;
    font-weight: lighter;
    letter-spacing: 1px;
  }
}

// Edit subreddits link
#sr-more-link {
  background: none;
}

// Image to the left of "Hot"
#header-img.default-header {
  display: none;
}

// "Hot", "New", "Rising", etc
#header-bottom-left {
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;

  // "Kleros"
  .hover.pagename.redditname {
    display: none;
  }

  // Tabs
  .tabmenu {
    bottom: 0;
    height: 100%;
    left: 96px;
    line-height: 50px;
    margin: 0;
    overflow: scroll;
    position: absolute;

    li {
      display: inline-block;
      font-size: 13px;
      letter-spacing: 1px;
      margin: 0;
      min-width: 52px;
      padding: 0 10px;
      text-align: center;
      text-transform: uppercase;

      a {
        background: none;
        color: #fff;
        display: inline-block;
        font-weight: normal;
        height: 100%;
        padding: 0;
        width: 100%;
      }

      &:hover,
      &.selected {
        background-color: rgba(255, 255, 255, 0.1);

        a {
          border: none;
        }
      }
    }
  }
}

// Sign up/Log in
#header-bottom-right {
  background: none;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  padding-bottom: 0;
  padding-right: 22px;
  padding-top: 0;
  position: absolute;

  a {
    color: #fff;
    font-size: 13px;
    font-weight: lighter;
  }

  .message-count {
    background: none;
  }
}

// Posts
#siteTable {
  border: 1px solid rgba(127, 130, 166, 0.03);
  border-radius: 5px;
  /* stylelint-disable declaration-colon-newline-after, value-list-comma-newline-after, indentation */
  box-shadow: 0 0 6px 0 rgba(71, 82, 93, 0.09), 0 0 1px 0 rgba(77, 78, 90, 0.08),
    0 2px 0 0 rgba(71, 82, 93, 0.09);
  /* stylelint-enable */
  margin: 20px 318.5px + 20px 20px 20px;
  padding: 16px 40px 16px 20px;
}

// Post
.thing {
  margin-bottom: 31px;

  .rank {
    margin-top: 24.5px;
  }

  .title {
    color: #052e69;
    font-size: 22px;
    font-weight: lighter;

    &:visited {
      color: #052e69;
      font-weight: bold;
    }
  }
}

// Likes container
.midcol {
  margin-left: 12px;
  margin-right: 30px;
}

// Likes counter
.score {
  margin-top: 2px;

  .link &.likes {
    color: #1a1b23;
  }
}

// Likes arrows
.arrow {
  height: 21px;
  width: 22px;

  &.login-required.access-required {
    &.down {
      background-image: url('https://cdn.rawgit.com/kleros/kleros-reddit-css/bf3db805/assets/images/triangle.png');
      background-position: 0 0;
      transform: rotate(180deg);
    }

    &.up {
      background-image: url('https://cdn.rawgit.com/kleros/kleros-reddit-css/bf3db805/assets/images/triangle.png');
      background-position: 0 0;
    }

    &.downmod,
    &.down:hover {
      background-image: url('https://cdn.rawgit.com/kleros/kleros-reddit-css/bf3db805/assets/images/selected-triangle.png');
      background-position: 0 0;
      transform: rotate(180deg);
    }

    &.upmod,
    &.up:hover {
      background-image: url('https://cdn.rawgit.com/kleros/kleros-reddit-css/bf3db805/assets/images/selected-triangle.png');
      background-position: 0 0;
    }
  }
}

// Entry
.entry {
  padding-left: 22px;
}

// Taglines
.tagline {
  color: #b0b0b1;
  margin: 5px 0;

  a.author {
    color: #1a1b23;
    font-weight: bold;
  }
}

// Share buttons
.flat-list.buttons {
  color: #b0b0b1;

  li a {
    font-weight: normal;
  }

  .bylink.comments {
    color: #1a1b23;
    font-weight: bold;
  }
}

// Sidebar TODO
.side {
  margin: 20px 18.5px 0 0;
}

// Footer
.footer-parent {
  padding-top: 0;

  .flat-vert.title {
    color: #b0b0b1;
  }

  p.bottommenu {
    color: #b0b0b1;
  }
}
